@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@600&family=Montserrat&family=Roboto:wght@100;300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
}
.main {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right top, #f6f7eb, #e8e0bc, #e4c68f, #e4a967, #e68849, #e46c55, #d95364, #c44075, #8f4c88, #595080, #3a4b63, #393e41);
    display: flex;
    justify-content: center;
    align-items: center;
}
.shortener {
    width:  20rem;
    height: 60vh;
    padding: 40px;
    border-radius: 15px;
    background: #e6d6abad;
    border: 3px solid #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.header {
    width: auto;
}
.header i {
    font-size: 80px;
    position: relative;
    left: 4.6rem;
    bottom: 1.5rem;
}
.header h2 {
    font-weight: bold;
    position: relative;
    bottom: 5px;
    left: 1.8rem;
}
.input label {
    font-size: 12px;
    font-weight: 500;
}
.input #originalUrl {
    width: 100%;
    height: 25px;
    border-radius: 5px;
    border: 2px solid #000;
    background: transparent;
}
.control {
    display: flex;
    flex-direction: row;
    gap: 55px;
}
.control button {
    width: 90px;
    height: auto;
    padding: 5px;
    border-radius: 5px;
    font-weight: bolder;
}
.control #short-btn {
    background: #ffffffbf;
    border: 2px solid #000;
}
.control #short-btn:hover {
    background: transparent;
}
.control #reload-btn {
    background: transparent;
    border: 2px solid #000;
}
.control #reload-btn:hover {
    background: #ffffffbf;
}
.output label {
    font-size: 12px;
    font-weight: 500;
}
.output #shortenedUrl {
    width: 100%;
    height: 45px;
    border-radius: 5px;
    border: 2px solid #000;
    background: transparent;
}